extends layout

block content

  div.challengeDesc
    h1= challenge.name
    span= "Categories: "
    - for (let i = 0; i < challenge.categories.length; i++) { let title = "";
        - for (let j = 0; j < categories.length; j++) { 
            - if (challenge.categories[i].equals(categories[j]._id)) { title = categories[j].title; break; }
        - }
        a(class="listed-category" href="")
            span= title
    - }
    <br>
    - diff = ['Very easy', 'Easy', 'Intermediate', 'Advanced', 'Challenge'];
    span= "Difficulty: " + diff[challenge.difficulty - 1]
    p!= challenge.description

  form
    include textEditor.pug
    <br>
    div(class="pure-button" onclick="compileCode()")
      | Run Test
  include testResults.pug