extends layout
include mixins

block content

    div(class="home-container")
        div(class="section message-section")
            div(class="section-header")
                h3(class="section-header-text")= "Messages"
            div.flex-container
                each message in messages

                    div(class="card non-hover message")
                        h2= message.title
                        div
                            p= message.body
                        ul
                            each link in message.links
                                li
                                    a(href=link.href)= link.name
                - if (messages.length === 0) {
                    div.fill-space
                        p= "No messages"
                - }
        div.section
            div(class="section-header")
                h3(class="section-header-text")= "Category Quick Select"
            div
                - for (let i = 0; i < Math.ceil(categories.length / 3); i++) {
                    div(class="flex-container categories-container")
                        - for (let j = 0; j < 3 && i * 3 + j < categories.length; j++) {
                            div.category-quick-select
                                +category(categories[i * 3 + j])
                        - }
                - }
                - if (categories.length === 0) {
                    div.flex-container
                        div.fill-space
                            p= "No categories"
                - }
