doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/pure-min.css", integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", crossorigin="anonymous")
        - if (codeBox) {
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/combine/npm/codemirror@5.39.0/addon/fold/foldgutter.min.css,npm/codemirror@5.39.0/addon/hint/show-hint.min.css,npm/codemirror@5.39.0/addon/display/fullscreen.min.css,npm/codemirror@5.39.0/lib/codemirror.min.css")
        - }
        - if (styles) {
            each val in styles
                link(rel='stylesheet', href='/stylesheets/' + val + '.css')
        - }
    body
        - if (!removeHeader) {
            div.header
                a(href="/")
                    h1.header-title= "Nova"
                
                div
                    - if (!loggedIn) {
                        div(class="pure-button header-button" onclick="window.location.href=\"/auth/login\"") Sign in
                    - } else {
                        span(class="header-title")= "Hello " + user
                    - }
                    - if (!removeSearch) {
                        div(class="pure-button header-button" onclick="window.location.href=\"/search\"") Search
                    - }
        - }

    div.container
        block content

    - if (codeBox) {
        script(src="https://cdn.jsdelivr.net/combine/npm/codemirror@5.39.0,npm/codemirror@5.39.0/addon/edit/closebrackets.min.js,npm/codemirror@5.39.0/addon/edit/trailingspace.min.js,npm/codemirror@5.39.0/addon/edit/matchbrackets.min.js,npm/codemirror@5.39.0/addon/fold/brace-fold.min.js,npm/codemirror@5.39.0/addon/fold/foldcode.min.js,npm/codemirror@5.39.0/addon/fold/foldgutter.min.js,npm/codemirror@5.39.0/addon/fold/comment-fold.min.js,npm/codemirror@5.39.0/addon/selection/mark-selection.min.js,npm/codemirror@5.39.0/addon/search/match-highlighter.min.js,npm/codemirror@5.39.0/addon/search/searchcursor.min.js,npm/codemirror@5.39.0/addon/hint/anyword-hint.min.js,npm/codemirror@5.39.0/addon/hint/show-hint.min.js,npm/codemirror@5.39.0/addon/display/fullscreen.min.js,npm/codemirror@5.39.0/addon/comment/comment.min.js,npm/codemirror@5.39.0/keymap/sublime.min.js,npm/codemirror@5.39.0/mode/clike/clike.min.js")
    - }

    - if (forwardLocals) {
        script.
            window.adminMessages = !{JSON.stringify(messages)};
            window.adminChallenges = !{JSON.stringify(challenges)};
            window.adminCategories = !{JSON.stringify(categories)};
            window.adminAttempts = !{JSON.stringify(attempts)};
    - }

    - if (challenge) {
        script.
            window.challengePath = "!{challenge.testFile}";

        - if (challenge.classes) {
            script.
                window.classes = !{JSON.stringify(challenge.classes)};
        - }
    - }
    
    - if (scripts) {
        - for (let i = 0; i < scripts.length; i++) {
            script(src='/javascripts/' + scripts[i] + '.js')
        -}
    -}