mixin challenge(challenge, onclick)
    - let diff = ['Very easy', 'Easy', 'Intermediate', 'Advanced', 'Challenging'];
    div(class="card challenge-container" onclick=onclick)
        h2= challenge.name
        p= "Difficulty: " + diff[challenge.difficulty - 1]

mixin category(category)
    div(class="card category-container" onclick="window.location.href=\"/search?categories=[\\\"" + category._id + "\\\"]\"")
        h2= category.title
        p= category.description

mixin convertLinks(links)
    - let ret = ""
    - links.forEach(function(element, index) {
        - ret += element.name + ":" + element.href;
        - if (index < links.length - 1) {ret += ";";} 
    - })
    input#links(type="text", name="links" value=ret)


        