extends layout

block content

    div.padding-container
        div.flex-container
            div.category-container
                h1= challenge.name

                form(class="pure-form pure-form-stacked")
                    fieldset
                        label(for="name") Name:
                        input#name(type="text", name="name" value=challenge.name)
                        label(for="test_file") Test file:
                        input#test_file(type="text", name="test_file", value=challenge.testFile)
                        label(for="className") Class name:
                        input#className(type="text", name="className" value=challenge.className)
                        
                        label(for="description") Description:
                        textarea#description(name="description", cols="30", rows="10")= challenge.description
                        
                        label(for="categories") Categories:
                        div(class="pure-button-group" role="group")
                            - for (let i = 0; i < categories.length; i++) { let category = categories[i]; let cls = "";
                                - for (let j = 0; j < challenge.categories.length; j++) { 
                                    - if (challenge.categories[j].equals(category._id)) { cls = "pure-button-active" }
                                - }
                                div(class="pure-button " + cls onClick="categoryClick(\"" + category._id + "\", this)")= category.title
                            - }
                        
                        script
                            | window.categories = "#{challenge.categories}";
                        
                        label(for="difficulty") Difficulty: 
                        select#difficulty(name="difficulty")
                            option(value="1" selected=(challenge.difficulty === 1)) Very easy
                            option(value="2" selected=(challenge.difficulty === 2)) Easy
                            option(value="3" selected=(challenge.difficulty === 3)) Intermediate
                            option(value="4" selected=(challenge.difficulty === 4)) Advanced
                            option(value="5" selected=(challenge.difficulty === 5)) Challenging

                        label(for="code_area") Default Code:
                        include textEditor.pug
                        
                        div(class="pure-button button-success", onClick="patchChallenge(\"" + challenge._id + "\")") Save Changes
                        div(class="pure-button button-danger", onClick="deleteChallenge(\"" + challenge._id + "\")") Delete Challenge