extends layout
include mixins

block content

    div.search-results-container
        div
            span.bold= "Searching for "
            - if (!criteria.name && !criteria.difficulty && categories.length === 0) {
                span= "All "
            - }
            - if (!showPassed) {
                span= "challenges I haven't passed."
            - }
            - if (criteria.name) {
                span.search-criteria-label= " Name: "
                    a(href="/search?name=" + criteria.name + "&showPassed=true")
                        span(class="search-criteria listed-category")= criteria.name
            - }
            - let diff = ['Very easy', 'Easy', 'Intermediate', 'Advanced', 'Challenging'];
            - if (criteria.difficulty) {
                span.search-criteria-label= " Difficulty: "
                    a(href="/search?difficulty=" + criteria.difficulty + "&showPassed=true")                
                        span(class="search-criteria listed-category")= diff[criteria.difficulty - 1]
            - }
            - if (categories.length !== 0) {
                span.search-criteria-label= " Categories: "
                    each cat in categories
                        a(href="/search?categories=[\"" + cat._id + "\"]" + "&showPassed=true")
                            span(class="search-criteria listed-category")= cat.title
            - }
        div
            - var count = 0;
            - for (var i = 0; i < challenges.length; i++) { var chall = challenges[i];
                - if (showPassed || passedChallenges.indexOf(chall.testFile) < 0) {
                    +challenge(chall, "window.location.href=\"/challenge/" + chall.testFile + "\"")
                    - count++;
                - }
            - }
            
            - if (count <= 0) {
                p= "No results found."
            - }